/* Header and Footer CSS styling tags */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  #a2dcfb;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #ffffff;
    position: fixed; 
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
#Mlogo {
    width: 300px;
}
#Hnavigator li {
    display: inline;
    list-style: none;
}
#Hnavigator ul {
    margin: 50px;
    padding: 50px;
    list-style: none;
    display: flex;
}
#Hnavigator a {
    font-weight: bold;
    color: #005f8b;
    text-align: center;
    padding: 20px 38px;
    text-decoration: none;
}
#Hnavigator a:hover {
    background-color: rgba(94, 217, 255, 0.514);
    color: #1B1A55;
    border-radius: 30px;
    transition: 0.4s;
}

#content {
    padding-top: 7%;
    margin: auto;
    margin-left: 5%;
    margin-bottom: 5%;
}

.Slogo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 2px;
}


.taskbar {
    display: flex;
    background-color: #ffffff;
    padding-top: 1%;
    padding-bottom: 0.5%;
    align-items: center;
    justify-content: center;
}

.taskbar img{
    transition: all 0.5s ease;
}

.taskbar img:hover{
    filter: invert(100%);
}
#Fnavigator li {
    display: inline;
    list-style: none;
}
#Fnavigator ul {
    margin: 30px;
    padding: 30px;
    list-style: none;
    display: flex;
}
#Fnavigator a {
    color: #005f8b;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}
#Fnavigator a:hover {
    background-color: rgba(94, 217, 255, 0.514);
    color: #1B1A55;
    border-radius: 30px;
    transition: 0.4s;
}

#Copyrights {
    font-size: smaller;
    color:#005f8b;
    text-align: center;
}

/* Checkout content container CSS Styling */


h1{
    padding-top: 20px;
    padding-bottom: 15px;
    color: #005f8b;
    justify-content: left;
}
h4{
    padding-bottom: 15px;
    color: #005f8b;
    justify-content: left;
}


form{
    margin-right: 40%;
}

fieldset{

    color: #005f8b;
    background-color: white;
    border-radius: 30px;
    border:#ffffff;
    font-weight: bold;
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #1B1A55;
}

label{
    font-size: 14px;
    padding: 10px
}

input{
    border-radius: 10px;
    border: #ffffff;
    padding: 10px;
}

.checkoutDetails{
    margin: 20px;
}

#shopCart {
    position: fixed;
    top: 120px;
    right: 20px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #1B1A55;
    z-index: 5;
}

#cartItems {
    list-style-type: none;
    padding: 0;
}
#cartItems li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    align-items: center;
}
.removeItem {
    margin-right: 10px;
    cursor: pointer;
    background-color: #a2dcfb;
    font-weight: bold;
    border-radius: 5px;
    color: #005f8b;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.itemDetails {
    flex: 1;
    text-align: left;
}
.itemPrice {
    text-align: right;
}

#grandTotal {
    float: right;
    font-weight: bolder

}

#itemCount {
    margin-left: 20px;
    border: solid #005f8b ;
    border-radius: 8px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: smaller ;

}

#placeOrderButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #005f8b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    font-weight: bold;
}

#placeOrderButton:hover {
    background-color: #a2dcfb;
    color: #005f8b;
    font-weight: bold;
}

h2{
    color: #005f8b;
    text-align: center;

}

#orderPlacedOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#orderPlacedOverlay img {
    width: 500px;
    height: auto;
}